* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 40px 20px 1fr 20px 40px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    ". . . "
    "divB divA divC"
    ". . ."
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: #d1d2d4;
}

.divA {
  grid-area: divA;
  background-color: #8bc53f;
}

.divB {
  grid-area: divB;
  background-color: #0c9444;
}

.divC {
  grid-area: divC;
  background-color: #f5ee30;
}

.footer {
  grid-area: footer;
  background-color: #d1d2d4;
}

@media (max-width: 770px) {
  .container {
    grid-template-rows: 40px 20px 2fr 1fr 20px 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      ". ."
      "divA divA"
      "divB divC"
      ". ."
      "footer footer";
  }
}

@media (max-width: 450px) {
    .container {
      grid-template-rows: 40px 20px 2fr 1fr 1fr 20px 40px;
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "."
        "divA"
        "divB"
        "divC"
        "."
        "footer";
    }
  }
